<%= render 'shared/navbar' %>
<div class="container content my-5">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= link_to "Admin", admin_root_path, class: "btn btn-outline-primary rounded-pill" %>
    </div>
  </div>
</div>
